---
layout: base.njk
permalink: /index.html
---

<div class="container px-3 py-3">
    <a href="rankings-streamgraph">
        <img style="width: 500px; max-width: 100%" src="images/cover-rankings-streamgraph.png" />
        <h2>Tennis History in One Picture</h2>
    </a>
    <a href="under-pressure-rating">
        <img style="width: 500px; max-width: 100%" src="images/cover-under-pressure.png" />
        <h2>Under Pressure Rating</h2>
    </a>
</div>
