---
layout: base.njk
permalink: /rankings-streamgraph/index.html
---

<script src="js/rankings-streamgraph.js"></script>

<div class="container px-3 py-3">
    <h2>Tennis History in One Picture</h2>
    <div class="date">March 31, 2023</div>
    <p>
        I had a dream - to make tennis history visible in a single picture. This is the result.
    </p>
</div>

<div id="rankings_streamgraph"></div>

<div class="container px-3 py-3">
    <h3>What are we looking at?</h3>
    <p>
        This image shows all male number 1 tennis players in the Open Era. The rankings points of each player are normalized.
    </p>


    <h3>How was this image created?</h3>
    <p>
        ultimatetennisstatistics.com &rarr; Python &rarr; Snowflake &rarr; DBT &rarr; D3 &rarr; SVG
    </p>
    <p>

    </p>
</div>
