<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/backhand.querytechnology.net/" />
    <link rel="shortcut icon" href="images/backhand-developer-logo.png">

    <title>Backhand Developer - Query Technology</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script>	
        $(window).on("scroll", function () {
            if ($(this).scrollTop() > 200) {
                $('.navbar').removeClass('navbar-large');
            } else {
                $('.navbar').addClass('navbar-large');
            }
        });
    </script>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-large navbar-expand-lg navbar-light bg-light fixed-top">
        <span class="navbar-brand">
            <div class="title"><a href="#">Backhand Developer</a></div>
            <div class="hide-when-small">
                Machine Learning and Analytics applied on ATP Tennis Data
            </div>
        </span>
      </nav>
    </header>

    <main role="main">
      {{ content | safe }}
    </main>
    
    <footer>
        <div class="footer-copyright text-center py-3">&copy; {{ "" | currentYear }} Copyright:
            <a href="https://wouterdiesveld.com/">Wouter Diesveld</a> / 
            <a href="https://querytechnology.com/">querytechnology.com</a>
            <span>
                <img id="cookie-free-badge" src="images/cookie-free-badge-grey.png" />
            </span>
        </div>
    </footer>
  </body>
</html>
